<!--display store information and points generated from the store -->
<h2>Store Name: <%=@store.name%></h2>
<p>City: <%=@store.city%></p>
<p>State: <%=@store.state%></p>
<p>Point Value: <%=@store.point_value%></p>

<!--submit button for routing user back to the user controller (with store_id data)-->
<!--hidden field used to pass store_id to params[user] hash -->
<%= link_to "Purchase from this store", new_store_purchase_path(@store) %>
