<h2>Store Name: <%=@store.name%></h2>
<p>City: <%=@store.city%></p>
<p>State: <%=@store.state%></p>
<p>Point Value: <%=@store.point_value%></p>



<%= form_tag user_path(@user), :method=>:patch do %>
  <div><%= hidden_field_tag "store_id", @store.id%>
  <div><%= text_field_tag "item"%>
  <div><%= submit_tag "Purchase from this store" %></div>
  <% end %>
