
<h2>User:</h2>
<!--Show key attributes for each user -->
<ul>
  <li>Name: <%=@user.name%></li>
  <li>City: <%=@user.city%></li>
  <li>State: <%=@user.state%></li>
  <li>Points: <%=@user.points%></li>
  <li>Eligible: <%=@couponflag%></li>
</ul>
<!--if the user is eligible to spend 20 points -->
<% if @couponflag %>
    <h3>YOU HAVE A FREE PURCHASE</h3>
<% end %>

<!--link to store list to make purchase -->
<p><%=link_to "Go to Store List to Make a Purchase", stores_path%></p>
<!--link to genre list to make purchase -->
<p><%=link_to "Go to Genre List to Make a Purchase", genres_path%></p>
<!--List the point-earning purchases for the user -->
<p><%=link_to "List Point-Earning Purchases For User", user_purchases_path(@user)%></p>
