<h2>User:</h2>

<ul>
  <li>Name: <%=@user.name%></li>
  <li>City: <%=@user.city%></li>
  <li>State: <%=@user.state%></li>
  <li>Points: <%=@user.points%></li>
  <li>Coupon Eligible: <%=@couponflag%></li>
</ul>
<% if @couponflag %>
  <p><%= form_tag(user_path(@user), method: "patch") do %>
    <%=submit_tag 'Get Coupon' %>
      <% end %>
<% end %>


<p><%=link_to "Go to Store List to Make a Purchase", stores_path%></p>
<p><%=link_to "Go to List of Existing Purchases", user_purchases_path(@user)%>

<p><%=link_to "Go to Genre List", genres_path%>
