<!DOCTYPE html>
<html>
  <head>
    <title>UserRewards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <h3><%=link_to "Logout", logout_path%></h3>
    <h3><a href="/">Home</a></h3>
    <br>

  </body>
</html>
